#carousel-index {
    box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
    -webkit-box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
    -moz-box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
    margin-bottom: 40px;
   

    }
   
    #carrousel-dpto{
        box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
        -webkit-box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
        -moz-box-shadow: -2px 21px 35px 22px rgba(0,0,0,0.68);
            margin-bottom: 40px;
            margin-top: 30px;
        }